doc/build/doctrees
doc/build/html
doc/source/files/*.rmf
doc/source/files/*.arf
doc/source/cookbook/*.fits
doc/source/cookbook/*.pha
doc/source/cookbook/*.h5
doc/source/cookbook/*.dat
doc/source/cookbook/*.simput
soxs_test_data
soxs.egg-info
.eggs
*.pyc
*.c
*.o
*.so
build
.pytest_cache
.idea
.vscode
.ipynb_checkpoints
